<!--Form-->
<div class="hide">
    <div id="form">
        <div class="form-group">
            <label>Author Id</label><br />
            <div class="row">
                <div class="col-md-10">
                    <input type="text" class="form-control " list="optId" id="authorId" />
                    <datalist id="optId"></datalist>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-default form-control" onclick="FormAuthor()">+</button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" id="title" />
        </div>
        <div class="form-group">
            <label>Publish date</label>
            <input type="text" class="form-control" id="year" />
        </div>
        <div class="form-group">
            <label>Genreration</label>
            <input type="text" class="form-control" id="genre" />
        </div>
        <div class="form-group">
            <label>Price</label>
            <input type="text" class="form-control" id="price" />
        </div>
    </div>
</div>
